body {
  background-color: black;
  font-family: Arial, sans-serif;
  text-align: center;
  color: white;
  background-image: linear-gradient(to bottom right, #4a00e0, #8e2de2, #c03dd3, #de4c98, #f37753);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 48px;
  margin-top: 100px;
  margin-bottom: 50px;
}
.container {
	background-color: black;
	color: #B0E0E6;
	text-align: center;
	padding-top: 100px;
	height: 100vh;
}

.title {
	font-size: 80px;
	font-weight: bold;
	text-shadow: 2px 2px 0 #000000, 4px 4px 0 #686868, 6px 6px 0 #000000;
	margin-bottom: 50px;
}

.message {
	font-size: 36px;
	text-shadow: 2px 2px 0 #0e0e0e, 4px 4px 0 #d10e0e, 6px 6px 0 #000000;
}